<a href="https://colab.research.google.com/github/ylmgrbzz/Military-Power-of-Countries/blob/main/Military_Power_of_Countries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
ordu=pd.read_csv("ordu.csv")

In [ ]:
ordu

         country country_code  ...  Transports  Waterways (usable)
0    Afghanistan          AFG  ...           0                1200
1        Albania          ALB  ...           0                  41
2        Algeria          ALG  ...          58                   0
3         Angola          ANG  ...          30                1300
4      Argentina          ARG  ...          22               11000
..           ...          ...  ...         ...                 ...
135    Venezuela          VEN  ...          50                7100
136      Vietnam          VTN  ...           9               17702
137        Yemen          YEM  ...           8                   0
138       Zambia          ZAM  ...          11                2250
139     Zimbabwe          ZIM  ...          14                   0

[140 rows x 48 columns]

In [ ]:
def ordugetir(*ulkeler):
  ordu=pd.read_csv("ordu.csv")
  ordu=ordu.set_index("country")
  ulkeler=list(ulkeler)
  sonuc=ordu.loc[ulkeler]
  return sonuc

In [ ]:
ordugetir("Argentina","Turkey")

          country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                   ...
Argentina          ARG             83000  ...          22               11000
Turkey             TUR            425000  ...          81                1200

[2 rows x 47 columns]

In [ ]:
ordu

            country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                     ...
Afghanistan          AFG                 0  ...           0                1200
Albania              ALB              8000  ...           0                  41
Algeria              ALG            130000  ...          58                   0
Angola               ANG            107000  ...          30                1300
Argentina            ARG             83000  ...          22               11000
...                  ...               ...  ...         ...                 ...
Venezuela            VEN            137500  ...          50                7100
Vietnam              VTN            470000  ...           9               17702
Yemen                YEM             45000  ...           8                   0
Zambia               ZAM             16500  ...          11                2250
Zimbabwe             ZIM             30000  ...          14                   0

[140 rows x 47 columns]

In [ ]:
ordu.loc[["Angola"]]

        country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                 ...
Angola           ANG            107000  ...          30                1300

[1 rows x 47 columns]

In [ ]:
def ordugetir(*ulkeler):
  ulkeler2=[]
  for ulke in ulkeler:
    a=ulke.title() 
    ulkeler2.append(a)
    ulkeler=ulkeler2.copy()
  ordu=pd.read_csv("ordu.csv")
  ordu=ordu.set_index("country")
  ulkeler=list(ulkeler) 
  sonuc=ordu.loc[ulkeler]
  return sonuc

In [ ]:
ordugetir("Argentina","Turkey")

          country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                   ...
Argentina          ARG             83000  ...          22               11000
Turkey             TUR            425000  ...          81                1200

[2 rows x 47 columns]

In [ ]:
ordu.head(5)

            country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                     ...
Afghanistan          AFG                 0  ...           0                1200
Albania              ALB              8000  ...           0                  41
Algeria              ALG            130000  ...          58                   0
Angola               ANG            107000  ...          30                1300
Argentina            ARG             83000  ...          22               11000

[5 rows x 47 columns]

In [ ]:
ordu['Active Personnel']

country
Afghanistan         0
Albania          8000
Algeria        130000
Angola         107000
Argentina       83000
                ...
Venezuela      137500
Vietnam        470000
Yemen           45000
Zambia          16500
Zimbabwe        30000
Name: Active Personnel, Length: 140, dtype: int64

In [ ]:
ordu['Active Personnel']>100000

country
Afghanistan    False
Albania        False
Algeria         True
Angola          True
Argentina      False
               ...
Venezuela       True
Vietnam         True
Yemen          False
Zambia         False
Zimbabwe       False
Name: Active Personnel, Length: 140, dtype: bool

In [ ]:
ordu[ordu['Active Personnel']>100000]

               country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                        ...
Algeria                 ALG            130000  ...          58                   0
Angola                  ANG            107000  ...          30                1300
Bangladesh              BNG            165000  ...          13                8370
Brazil                  BRA            360000  ...         125               50000
China                   CHN           2000000  ...         286              110000
Colombia                COL            295000  ...          77               24725
Egypt                   EGY            450000  ...          59                3500
Eritrea                 ERI            175000  ...           5                   0
Ethiopia                ETH            150000  ...           9                   0
France                  FRA            205000  ...         125                8501
Germany                 GER            184000  ...          43                7467
Greece                  GRE            130000  ...          17                   6
India                   IND           1450000  ...         253               14500
Indonesia               INO            400000  ...          66               21579
Iran                    IRN            575000  ...          85                 850
Iraq                    IRQ            200000  ...          16                5279
Israel                  ISR            173000  ...          15                   0
Italy                   ITA            170000  ...          39                2400
Japan                   JPN            240000  ...          59                1770
Malaysia                MLY            115000  ...          18                7200
Mexico                  MEX            250000  ...          45                2900
Morocco                 MOR            200000  ...          29                   0
Myanmar                 MYA            400000  ...          26               12800
Nigeria                 NGA            135000  ...          20                8600
North Korea             NKO           1200000  ...           1                2250
Pakistan                PAK            640000  ...          54               25220
Philippines             PHI            130000  ...          21                3219
Poland                  POL            120000  ...          49                3997
Russia                  RUS            850000  ...         445              102000
Saudi Arabia            SAR            225000  ...          49                   0
South Korea             SKO            555000  ...          41                1600
South Sudan             SSU            175000  ...           2                   0
Spain                   SPA            120000  ...          49                1000
Sri Lanka               SRL            250000  ...          17                 160
Taiwan                  TAI            170000  ...          19                3720
Thailand                THA            350000  ...          50                4000
Turkey                  TUR            425000  ...          81                1200
Ukraine                 UKR            200000  ...          32                2150
United Kingdom          UKD            194000  ...          40                3200
United States           USA           1390000  ...         982               41009
Venezuela               VEN            137500  ...          50                7100
Vietnam                 VTN            470000  ...           9               17702

[42 rows x 47 columns]

In [ ]:
ordu[ordu['Active Personnel']>800000]

              country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                       ...
China                  CHN           2000000  ...         286              110000
India                  IND           1450000  ...         253               14500
North Korea            NKO           1200000  ...           1                2250
Russia                 RUS            850000  ...         445              102000
United States          USA           1390000  ...         982               41009

[5 rows x 47 columns]

In [ ]:
personel=ordu['Active Personnel']>300000
tank=ordu["Tanks"]>5000
ordu[personel & tank ]

              country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                       ...
China                  CHN           2000000  ...         286              110000
North Korea            NKO           1200000  ...           1                2250
Russia                 RUS            850000  ...         445              102000
United States          USA           1390000  ...         982               41009

[4 rows x 47 columns]

In [ ]:
personel=ordu['Active Personnel']>300000
tank=ordu["Tanks"]>5000
ordu[personel | tank ]

              country_code  Active Personnel  ...  Transports  Waterways (usable)
country                                       ...
Brazil                 BRA            360000  ...         125               50000
China                  CHN           2000000  ...         286              110000
Egypt                  EGY            450000  ...          59                3500
India                  IND           1450000  ...         253               14500
Indonesia              INO            400000  ...          66               21579
Iran                   IRN            575000  ...          85                 850
Myanmar                MYA            400000  ...          26               12800
North Korea            NKO           1200000  ...           1                2250
Pakistan               PAK            640000  ...          54               25220
Russia                 RUS            850000  ...         445              102000
South Korea            SKO            555000  ...          41                1600
Thailand               THA            350000  ...          50                4000
Turkey                 TUR            425000  ...          81                1200
United States          USA           1390000  ...         982               41009
Vietnam                VTN            470000  ...           9               17702

[15 rows x 47 columns]

In [ ]:
personel

country
Afghanistan    False
Albania        False
Algeria        False
Angola         False
Argentina      False
               ...
Venezuela      False
Vietnam         True
Yemen          False
Zambia         False
Zimbabwe       False
Name: Active Personnel, Length: 140, dtype: bool

In [ ]:
ordu["Defense Budget"]/ordu["Active Personnel"]

country
Afghanistan             inf
Albania        2.405000e+04
Algeria        7.461538e+04
Angola         9.899720e+03
Argentina      3.692530e+04
                   ...
Venezuela      1.403345e+04
Vietnam        1.327149e+04
Yemen          2.244600e+04
Zambia         1.522182e+04
Zimbabwe       3.913000e+03
Length: 140, dtype: float64

In [ ]:
ordu["KBB"]=ordu["Defense Budget"]/ordu["Active Personnel"]

In [ ]:
ordu.head(3)

            country_code  Active Personnel  ...  Waterways (usable)           KBB
country                                     ...
Afghanistan          AFG                 0  ...                1200           inf
Albania              ALB              8000  ...                  41  2.405000e+04
Algeria              ALG            130000  ...                   0  7.461538e+04

[3 rows x 48 columns]

In [ ]:
ordu.columns

Index(['country_code', 'Active Personnel', 'Aircraft Carriers',
       'Armored Vehicles', 'Attack Helicopters', 'Available Manpower',
       'Coastline Coverage', 'Corvettes', 'Dedicated Attack', 'Defense Budget',
       'Destroyers', 'External Debt', 'Fighters/Interceptors',
       'Fit-for-Service', 'Foreign Exchange/Gold', 'Frigates',
       'Helicopter Carriers', 'Helicopters', 'Labor Force',
       'Merchant Marine Fleet', 'Mine Warfare', 'Navy Ships',
       'Oil Consumption', 'Oil Production', 'Oil Proven Reserves',
       'Paramilitary', 'Patrol Vessels', 'Ports / Trade Terminals',
       'Purchasing Power Parity', 'Railway Coverage',
       'Reaching Mil Age Annually', 'Reserve Personnel', 'Roadway Coverage',
       'Rocket Projectors', 'Self-Propelled Artillery', 'Shared Borders',
       'Special-Mission', 'Square Land Area', 'Submarines', 'Tanker Fleet',
       'Tanks', 'Total Aircraft Strength', 'Total Population',
       'Towed Artillery', 'Trainers', 'Transports', 'Waterways (usable)',
       'KBB'],
      dtype='object')

In [ ]:
ordu["Defense Budget"]

country
Afghanistan      99050000
Albania         192400000
Algeria        9700000000
Angola         1059270000
Argentina      3064800000
                  ...
Venezuela      1929600000
Vietnam        6237600000
Yemen          1010070000
Zambia          251160000
Zimbabwe        117390000
Name: Defense Budget, Length: 140, dtype: int64

In [ ]:
ordu["KBB"]

country
Afghanistan             inf
Albania        2.405000e+04
Algeria        7.461538e+04
Angola         9.899720e+03
Argentina      3.692530e+04
                   ...
Venezuela      1.403345e+04
Vietnam        1.327149e+04
Yemen          2.244600e+04
Zambia         1.522182e+04
Zimbabwe       3.913000e+03
Name: KBB, Length: 140, dtype: float64

In [ ]:
ordu["KBB"].mean()

inf

In [ ]:
import numpy as np

In [ ]:
np.where(ordu["KBB"]==np.inf,0,ordu["KBB"])

array([0.00000000e+00, 2.40500000e+04, 7.46153846e+04, 9.89971963e+03,
       3.69253012e+04, 1.40555556e+04, 7.56237288e+05, 1.49217391e+05,
       2.61538462e+04, 1.53880000e+05, 2.35781818e+04, 1.60693333e+04,
       2.12065769e+05, 3.61350000e+03, 9.53940000e+03, 1.97900000e+04,
       5.26000000e+04, 5.21805556e+04, 3.68586667e+04, 3.61875000e+04,
       6.32250000e+03, 9.95000000e+03, 3.36436777e+05, 4.14540000e+03,
       9.75366667e+03, 6.32250000e+04, 1.25120000e+05, 2.75898305e+04,
       1.40000000e+05, 5.97980000e+04, 1.25496154e+05, 2.99220000e+03,
       2.49568539e+05, 1.05120000e+04, 5.68157500e+04, 9.68266667e+03,
       1.40800000e+04, 6.01800000e+02, 1.09798462e+05, 3.58666667e+03,
       1.16075387e+05, 1.99512195e+05, 4.31723077e+04, 1.14408000e+04,
       2.73369565e+05, 2.06714286e+04, 5.07692308e+04, 1.80465116e+04,
       2.53193750e+04, 1.41913013e+05, 3.42068966e+04, 2.32500000e+04,
       8.69565217e+03, 3.42760000e+04, 1.26436782e+05, 1.02890173e+05,
       1.71755300e+05, 2.60400000e+04, 1.97844750e+05, 2.28211111e+04,
       8.66666667e+04, 4.94200000e+04, 3.21368571e+04, 4.80705882e+05,
       9.67000000e+03, 1.53120000e+03, 1.31347387e+05, 1.25175000e+04,
       5.90000000e+03, 1.15833333e+05, 7.16090625e+04, 8.44307692e+03,
       3.29810365e+04, 3.28477778e+04, 1.21546875e+04, 2.58240000e+04,
       7.94000000e+03, 1.02200000e+04, 3.70372500e+04, 2.71941181e+04,
       1.27454545e+04, 5.71425000e+03, 2.91040000e+04, 4.60610526e+03,
       4.07428571e+05, 3.85416667e+05, 7.36166667e+03, 2.87280000e+04,
       4.35241162e+04, 3.75000000e+03, 2.56852000e+04, 3.60869565e+05,
       2.09907500e+05, 1.20158573e+04, 0.00000000e+00, 2.52142857e+04,
       1.92631579e+04, 3.37692308e+04, 1.20833333e+05, 1.10163934e+05,
       4.18285714e+05, 2.90133333e+04, 7.68371642e+04, 1.81176471e+05,
       2.04444444e+05, 4.23680000e+04, 2.14722222e+03, 1.92666667e+05,
       1.60923077e+05, 8.30971429e+04, 3.65337143e+03, 4.04259914e+04,
       8.34594595e+04, 1.57714286e+03, 9.79166667e+04, 7.44000000e+03,
       2.87210000e+03, 2.32711111e+04, 5.37500000e+05, 2.49333333e+05,
       2.02050000e+04, 9.88235294e+04, 9.48778947e+03, 2.88046154e+04,
       8.38018301e+03, 3.27000000e+04, 2.28000000e+04, 1.35690000e+04,
       1.98776596e+04, 5.93500000e+04, 3.88707692e+05, 3.50515464e+05,
       5.53956835e+05, 4.87545455e+04, 1.25912727e+04, 1.40334545e+04,
       1.32714894e+04, 2.24460000e+04, 1.52218182e+04, 3.91300000e+03])

In [ ]:
ordu["KBB"]=np.where(ordu["KBB"]==np.inf,0,ordu["KBB"])

In [ ]:
ordu["KBB"].mean()

85252.84124694356

In [ ]:
kbb_ort=ordu["KBB"].mean()

In [ ]:
ordu["KBB"].mean()
ordu["KBB"].sum()
ordu["KBB"].std()
ordu["KBB"].median()

29058.666666666664

In [ ]:
ort2=ordu["KBB"]>kbb_ort

In [ ]:
ort2

country
Afghanistan    False
Albania        False
Algeria        False
Angola         False
Argentina      False
               ...
Venezuela      False
Vietnam        False
Yemen          False
Zambia         False
Zimbabwe       False
Name: KBB, Length: 140, dtype: bool

In [ ]:
ordu[ort2]

                     country_code  ...            KBB
country                            ...
Australia                     AUS  ...  756237.288136
Austria                       AST  ...  149217.391304
Bahrain                       BAH  ...  153880.000000
Belgium                       BEL  ...  212065.769231
Canada                        CAN  ...  336436.776886
China                         CHN  ...  125120.000000
Croatia                       CRO  ...  140000.000000
Czechia                       CZC  ...  125496.153846
Denmark                       DEN  ...  249568.539000
Estonia                       EST  ...  109798.461538
Finland                       FIN  ...  116075.386957
France                        FRA  ...  199512.195122
Germany                       GER  ...  273369.565217
Hungary                       HUN  ...  141913.013043
Ireland                       IRE  ...  126436.781609
Israel                        ISR  ...  102890.173410
Italy                         ITA  ...  171755.300294
Japan                         JPN  ...  197844.750000
Kazakhstan                    KAZ  ...   86666.666667
Kuwait                        KUW  ...  480705.882353
Latvia                        LAT  ...  131347.386615
Libya                         LBY  ...  115833.333333
Netherlands                   NTH  ...  407428.571429
New Zealand                   NWZ  ...  385416.666667
Norway                        NOR  ...  360869.565217
Oman                          OMA  ...  209907.500000
Poland                        POL  ...  120833.333333
Portugal                      POR  ...  110163.934426
Qatar                         QTR  ...  418285.714286
Russia                        RUS  ...  181176.470588
Saudi Arabia                  SAR  ...  204444.444444
Singapore                     SIN  ...  192666.666667
Slovakia                      SLK  ...  160923.076923
Spain                         SPA  ...   97916.666667
Sweden                        SWE  ...  537500.000000
Switzerland                   SWI  ...  249333.333333
Taiwan                        TAI  ...   98823.529412
United Arab Emirates          UAE  ...  388707.692308
United Kingdom                UKD  ...  350515.463918
United States                 USA  ...  553956.834532

[40 rows x 48 columns]